<h2>Registered Applications</h2>
<br/>
<table class='table'>
	<th>Icon</th>
	<th>App Id</th>
	<th>Name</th>
	<th>Status</th>
	<th>Created At</th>
	<th>Updated At</th>
	<th>Actions</th>

	<% for( var i in apps) { var app = apps[i]; %>
		<tr>
			<td><img src='<%= app.icon_url %>'/></td>
			<td><%= app.id %></td>
			<td><%= app.name %></td>
			<td><%= app.status %></td>
			<td><%= app.created_at %></td>
			<td><%= app.updated_at %></td>
			<td>
				<a href='/apps/<%=app.id%>'><i class='glyphicon glyphicon-search'></i>&nbsp;</a>
				<a href='/apps/edit/<%=app.id%>'><i class='glyphicon glyphicon-pencil'></i>&nbsp;</a>
				<a href='/apps/delete/<%=app.id%>'><i class='glyphicon glyphicon-trash'></i>&nbsp;</a>
			</td>
		</tr>
	<% } %>
</table>

