<h2>&nbsp;<img src='<%= app.icon_url %>'/> &nbsp;<%= app.name %></h2>
<br/>
<div class='well'>
<table class='table'>	
	<tr><td>App ID</td><td><%= app.app_id %></td></tr>
	<tr><td>App Name</td><td><%= app.name %></td></tr>
	<tr><td>Description</td><td><%= app.description %></td></tr>
	<tr><td>Company</td><td><%= app.company %></td></tr>
	<tr><td>Created At</td><td><%= app.createdAt %></td></tr>
	<tr><td>Updated At</td><td><%= app.updatedAt %></td></tr>
	<tr><td>Status</td><td><%= app.status %></td></tr>
	<tr><td>Access Token</td><td><%= app.secret %></td></tr>
</table>
</div>