<h2>Edit Application: <%= app.name %></h2>
<br/>

<form role='form' class="form-horizontal" action='/apps/<%=app.id%>' method='POST' id='app_edit_form'>
  <fieldset>
    <input type="hidden" name="_method" value="PUT" />
	
<div class='form-group'>
	<label for="id" class="col-sm-2 control-label">ID</label>
    <div class="col-sm-10">
	<input type='hidden' class='form-control' id='id' name='id' value='<%= app.id %>'/><%= app.id %>
	</div>
</div>

	<div class='form-group'>
		<label for="app_id" class="col-sm-2 control-label">Facebook ID</label>
	    <div class="col-sm-10">
		<%= app.fbappid %>
		</div>
	</div>

	<div class='form-group'>
		<label for="description" class="col-sm-2 control-label">Description</label>
	    <div class="col-sm-10">
		<input class='form-control' id='description' name='description' value='<%= app.description %>'/>
		</div>
	</div>

	<div class='form-group'>
		<label for="company" class="col-sm-2 control-label">Company</label>
	    <div class="col-sm-10">
		<input class='form-control' id='company' name='company' value='<%=app.company%>'/>
		</div>
	</div>
	
	<div class='form-group'>
		<label for="app-secret" class="col-sm-2 control-label">Access Token</label>
	    <div class="col-sm-10">
		<input class='form-control' id='secret' name='secret' value='<%=app.secret%>'/>
		</div>
	</div>
	
	<button type="submit" class="btn btn-default">Update</button>
  
  </fieldset>
  
</form>