<html prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# ">
	<head>
	<!-- Twitter Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@geobliki">
	<meta name="twitter:site:id" content="6456652">
	<meta name="twitter:creator" content="@cappelaere">
	<meta name="twitter:creator:id" content="6178752">
	<meta name="twitter:domain" content="geobliki.com">
	
	<!-- Open Graph Tags (accepted by Twitter as well -->
	<meta property="fb:app_id" content="<%= fbAppId %>" /> 
	<meta property="fb:profile_id" content="100003853468544" /> 
	<meta property="og:type" content="ojo-nasa:geoss_product" />
	<meta property="og:title" content="geoss.surface_water" />
	<meta property="og:description" content="<%= description %>" />
	<meta property="og:image" content="<%= image %>" />
	<meta property="og:url" content="<%= url %>" />
	<meta property="og:updated_time" content="<%= date %>" />
	<meta property="og:created_time" content="<%= date %>" />

	<meta property="place:location:latitude" content="<%= region.target[0] %>" />
	<meta property="place:location:longitude" content="<%= region.target[1] %>" />
	
	<title>Landsat-8 Flood Map <%= region.name %> <%= date %></title>
	
	<link rel="icon" href="/favicon.png" type="image/png">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	
	</head>
	<body>

		<div class='container'>
		<h1>Landsat-8 Surface Water Product</h1>
		<br/>
			<div class='well'>
				<table class='table-condensed'>
				<tr><td>
					<img width=300 src='<%= image %>' />
				</td>
				<td>
					<table class='table-condensed'>
					<tr><td><b>Region:</b></td><td><%= region.name %></td></tr>
					<tr><td><b>Scene:</b></td><td><%= region.scene %></td></tr>
					<tr><td><b>Date:</b></td><td><%= date %></td></tr>
					<tr><td><b>Bounding Box:</b></td><td><%= region.bbox %></td></tr>
					<tr><td><b>Source:</b></td><td><a href='http://earthexplorer.usgs.gov/'>USGS</a></td></tr>
					<tr><td><b>Resolution:</b></td><td>30m</td></tr>
					<tr><td><b>Data Download:</b></td><td><a href='<%= topojson %>'>Topojson</a></td></tr>
					<tr><td><b>USGS Data:</b></td><td><a href='http://earthexplorer.usgs.gov/metadata/923/LC80090472013357LGN00/'>Click</a></td></tr>
					<tr><td><b>View On Map:</b></td><td><a href='/map/landsat8'>Here</a></td></tr>
					</table>
				</td></tr></table>
			</div>

		<div class='container'>
		<i class='glyphicon glyphicon-home'></i>&nbsp;<a href='/'>Home</a>
		</div>
		
		<hr/>
	
		<div class='container'>
			<div class="fb-share-button" data-href="<%= url %>" data-type="button_count"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="geobliki" data-related="trmm" data-hashtags="precipitation">Tweet</a>
		</div>
		
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= fbAppId %>";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
	</body>
</html>